#landing-body {
    background-color: #272945; /* Old browsers */
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: #e7e7e7;
    min-width: 750px;
}

.logo-container {
    text-align: center;
    margin-bottom: -90px;
}

.logo-container img {
    position: relative;
}

.dark-line {
    background: #21233b;
    height: 314px;
    margin-top: 50px;
    position: absolute;
    width: 100%;
}

h1, h2 {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.77);
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 1.3em;
}

.countdown {
    margin: 50px 0;
}

.release-in {
    background-size: cover;
    background-image: url(/images/office-fade.png);
    background-position: bottom;
    height: 300px;
    padding-top: 100px;
}

.release-in table {
    margin: 30px auto;
    text-align: center;
    width: 600px;
    font-size: 1.6em;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.77);
    font-weight: 800;
}

hr {
    width: 50%;
    border-width: 0;
    background: #58596f;
    height: 4px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.35);
}

.release-in table tr td {
    width: 33%;
}

.orange {
    color: #ff4b00;
}

.release-in table tr.values td {
    font-size: 2em;
    color: #ff4b00;
}

.email {
    margin: auto;
    width: 520px;
}

.trailer {
    text-align: center;
    margin-top: 50px;
}

.trailer .video {
    width: 100%;
    max-width: 700px;
    margin: auto;
    border: 3px solid #898d93;
    position: relative;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.description {
    font-size: 1.2em;
    text-align: center;
    width: 700px;
    margin: 60px auto auto auto;
}

h1.fat {
    font-weight: 800;
    margin: 50px auto;
}

.screenshots {
}

.screenshots .images {
    width: 100%;
    max-width: 720px;
    position: relative;
    margin: auto;
    text-align: center;
}

.screenshots .images .current {
    width: 100%;
    border-radius: 15px;
    border: 3px solid #797d86;
    cursor: zoom-in;
    margin-bottom: 10px;
}

.screenshots ul {
    display: inline-block;
}

.screenshots ul li {
    display: inline-block;
}

.screenshots ul li img {
    height: 80px;
    border-radius: 15px;
    border: 3px solid transparent;
    cursor: pointer;
    margin: 0px 2px;
}

.screenshots ul li img.active {
    border-color: #ff4b00;
}

.screenshot {
    max-width: 300px;
    border-radius: 5px;
}

.languages {
    width: 700px;
    margin: 50px auto auto auto;
    text-align: center;
}

.flags img {
    width: 38px;
}


.buy-now {

    background-size: cover;
    background-image: url(/images/office-fade-bottom.png);
    background-position: top;

}

.buy-now .content {
    width: 700px;
    margin: auto;
    text-align: center;
}

.buy-now ul {
    list-style: disc inside;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a.presskit {
    text-decoration: underline;
    color: white;
}

.footer a img {
    vertical-align: middle;
}

.footer .right {
    font-size: 80%;
    text-align: right;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


#humblebundle {
    width: 100%;
    margin-top: 30px;
}


@media (max-width: 807px) {
}

.hide-after-release {
    display: none;
}

